<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
    <div class="container homepage">
        <div class="intro-block">
            <div class="portrait-wrapper">
                <img src="{{ '/assets/images/portrait.jpg' | relative_url }}"
                     alt="portrait of yen-chia"
                     class="img-fluid portrait">
            </div>

            <p class="title" style="text-transform: none;">Yen-Chia Peng</p>

            <p class="contact">
                <a class="email" href="mailto:apricity.peng2023@gmail.com">
                    apricity.peng2023@gmail.com
                </a><br>
                <a class="important" href="{{ '/assets/files/yenchiapeng_resume.pdf' | relative_url }}">résumé</a>
            </p>

            <div class="bio">
                {{ content }}
            </div>
        </div>
    </div>
</body>

</html>
